@model HotelMgtModel.ViewModels.AccomodationViewModel
@using HotelMgtModel.Dtos.AuthDtos
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

@{
    var loggedinUser = Context.Session.GetString("User");
    var user = loggedinUser != null? JsonConvert.DeserializeObject<AuthenticatedUserDto>(loggedinUser) : null;

    ViewData["Title"] = "Accomodation";

    if(user == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}

        
<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Accomodation</h2>
            <ol class="breadcrumb">
                <li><a asp-controller="Accomodation">Home</a></li>
                <li class="active">Accomodation</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->
        
<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Special Room Categories</h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast,</p>
        </div>
        <div class="row mb_30">

            @foreach(var item in Model.RoomTypes){
                <div class="col-lg-3 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src="@item.Thumbnail" style="height:300px; width:100%" alt="">
                            <a asp-controller="Accomodation" asp-action="RoomDetails" asp-route-roomTypeId="@item.Id" class="btn theme_btn button_hover">Details</a>
                        </div>
                        <a asp-controller="Accomodation" asp-action="RoomDetails" asp-route-roomTypeId="@item.Id"><h4 class="sec_h4">@item.Name</h4></a>
                        <h5>N@{@item.Price.ToString("N0")}<small>/night</small></h5>
                    </div>
                </div>
            }
            
        </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->

<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap" style="padding-top:1px;">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Accomodation for His/Her Excellencies</h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast,</p>
        </div>
        <div class="row accomodation_two">


            @foreach(var item in Model.Rooms){
                <div class="col-lg-3 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src="@item.ImageUrl" style="height:300px; width:100%" alt="">
                            <a href="#" class="btn theme_btn button_hover">Book Now</a>
                        </div>
                        <a href="#"><h4 class="sec_h4">ROOM NO: @item.RoomNo</h4></a>
                        <h5>N@{@item.Price.ToString("N0")}<small>/night</small></h5>
                    </div>
                </div>
            }
           
        </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->