@using System.Globalization
@model HotelMgtModel.ViewModels.RoomTypeDetailsViewModel
@using HotelMgtModel.Dtos.AuthDtos
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

@{
    var loggedinUser = Context.Session.GetString("User");
    var user = loggedinUser != null? JsonConvert.DeserializeObject<AuthenticatedUserDto>(loggedinUser) : null;

    ViewData["Title"] = "tDetails";

    if(user == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }
}

<h1>Room Details</h1>

        
<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">Accomodation</h2>
            <ol class="breadcrumb">
                <li><a asp-controller="Accomodation">Home</a></li>
                <li class="active">Accomodation</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->



<!--================ Bigger RoomType Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Room Type: <span style="color:orange">@Model.RoomType.Name</span></h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast,</p>
        </div>
        <div class="row mb_30">
            
                <div class="col-md-9 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src="@Model.RoomType.Thumbnail" style="width:100%" alt="">
                            @*<a href="#" class="btn theme_btn button_hover">Book Now</a>*@
                        </div>
                        @*<h4 class="sec_h4">@Model.RoomType.Name</h4>*@
                        @*<h5>N@{@Model.RoomType.Price.ToString("N0")}<small>/night</small></h5>*@
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="accomodation_item text-center">
                        <h2 style="text-align:left">Amenities</h2>
                        @foreach(var amenity in @Model.Amenities)
                        {
                            <p class="pt-3" style="text-align:left">@amenity.Name</p>
                        }
                        
                    </div>
                </div>
            
        </div>
    </div>
</section>
<!--================ Bigger RoomType Area  =================-->



        
<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap"  style="padding-top:0px;">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Available Rooms For <span style="color:orange">@Model.RoomType.Name</span></></h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast,</p>
        </div>
        <div class="row mb_30">

            @foreach(var item in Model.Rooms){
                <div class="col-md-6 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src="@item.ImageUrl" style="height:300px; width:100%" alt="">
                            <a href="#" class="btn theme_btn button_hover">Book Below</a>
                        </div>
                        <h4 class="sec_h4">@item.RoomNo</h4>
                        <h5>@item.Price.ToString("C", CultureInfo.GetCultureInfo("en-NG"))<small>/night</small></h5>
                    </div>
                </div>
            }
            
        </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->

<!--================Booking Tabel Area =================-->
<section class="hotel_booking_area" style="padding-top:1px;">
    <div class="container">
        <div class="row hotel_booking_table">
            <div class="col-md-3">
                <h2>Book<br> Your Room</h2>
            </div>
            <div class="col-md-9">
                <div class="boking_table">
                    
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <form method="post" asp-action="Book">
                        <div class="row">
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker11'>
                                                <input type='text' class="form-control" name="CheckIn" placeholder="CheckIn Date"/>
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type='text' class="form-control" name="CheckOut" placeholder="CheckOut Date"/>
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="input-group">
                                            <select class="wide" name="NoOfPeople">
                                                <option data-display="Number of people">Number of people</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <select class="wide" name="ServiceName">
                                                <option data-display="Service Name">Service Name</option>
                                                <option value="Room" selected>Room</option>
                                                <option value="Hall">Hall</option>
                                                @*<option value="3"></option>*@
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="input-group">
                                            <select class="wide" name="RoomNo">
                                                <option data-display="Room-Number">Room Number</option>

                                                @foreach(var item in Model.Rooms){
                                                    <option value="@item.RoomNo">@item.RoomNo</option>
                                                }

                                                @*<option value="@item.RoomNo">@item.RoomNo</option>*@

                                            </select>
                                        </div>
                                        <button class="book_now_btn button_hover" type="submit">Book Now</button>
                                    </div>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Booking Tabel Area  =================-->

<!--================ Accomodation Area  =================-->
@*<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Accomodation fir His/Her Excellencies</h2>
            <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast,</p>
        </div>
        <div class="row accomodation_two">


            @foreach(var item in Model.Rooms){
                <div class="col-lg-3 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src="@item.ImageUrl" style="height:300px; width:100%" alt="">
                            <a href="#" class="btn theme_btn button_hover">Book Now</a>
                        </div>
                        <a href="#"><h4 class="sec_h4">ROOM NO: @item.RoomNo</h4></a>
                        <h5>N@{@item.Price.ToString("N0")}<small>/night</small></h5>
                    </div>
                </div>
            }
           
        </div>
    </div>
</section>*@
<!--================ Accomodation Area  =================-->

